Repository gpodder/mygpo, pull requests merged in 2020-01, with the labels that each got.

#322 Add simple API search tests
  mygpo/api/tests.py
  mygpo/api/urls.py
  mygpo/data/tests.py
  mygpo/web/tests.py
Labels: api, search, tests

#247 Upgrade to Django 3
  makefile
  mygpo/administration/clients.py
  mygpo/administration/views.py
  mygpo/api/__init__.py
  mygpo/api/advanced/__init__.py
  mygpo/api/basic_auth.py
  mygpo/api/constants.py
  mygpo/api/simple.py
  mygpo/api/subscriptions.py
  mygpo/asgi.py
  mygpo/data/feeddownloader.py
  mygpo/data/flickr.py
  mygpo/data/mimetype.py
  mygpo/data/podcast.py
  mygpo/data/tasks.py
  mygpo/data/youtube.py
  mygpo/directory/views.py
  mygpo/history/models.py
  mygpo/maintenance/merge.py
  mygpo/podcastlists/views.py
  mygpo/podcasts/admin.py
  mygpo/podcasts/models.py
  mygpo/podcasts/views/episode.py
  mygpo/podcasts/views/podcast.py
  mygpo/publisher/forms.py
  mygpo/publisher/views.py
  mygpo/pubsub/utils.py
  mygpo/pubsub/views.py
  mygpo/settings.py
  mygpo/subscriptions/views.py
  mygpo/users/converters.py
  mygpo/users/models.py
  mygpo/users/tasks.py
  mygpo/users/views/device.py
  mygpo/users/views/registration.py
  mygpo/users/views/settings.py
  mygpo/users/views/user.py
  mygpo/usersettings/models.py
  mygpo/utils.py
  mygpo/web/forms.py
  mygpo/web/templatetags/devices.py
  mygpo/web/templatetags/episodes.py
  mygpo/web/templatetags/facebook.py
  mygpo/web/templatetags/menu.py
  mygpo/web/templatetags/mygpoutil.py
  mygpo/web/templatetags/podcasts.py
  mygpo/web/templatetags/time.py
  mygpo/web/templatetags/utils.py
  mygpo/web/utils.py
  mygpo/web/views.py
  requirements.txt
Labels: dependencies

#338 Added author to API
  doc/api/reference/directory.rst
  doc/api/reference/general.rst
  doc/api/reference/suggestions.rst
  mygpo/api/advanced/directory.py
  mygpo/api/templates/podcasts.xml
Labels: api
